@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --bg-darkmode:#141f2f;
    --bg-lightmode:#E3E7EE;

    --font-darkmode:#b7b7b7;
    --font-lightmode:#263956;


    --item-darkmode: #25273c;
    --item-lightmode: #f7f5f5;

    --check-darkmode: #182233;
    --check-lightmode: #d1d5db;



}


body{
    display: flex;
    justify-content: space-around;
    background-image: url("../images/horse-8802851_1920.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-color: var(--bg-lightmode);
    color: #fff;
    font-family: 'ubuntu', sans-serif;
    margin: 0;

}
.container{
    margin-top: 250px;
    width: 500px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    flex-grow: 0;
}
.darkmode-toggle{
    width: 30px;
    height: 30px;;
    background-image: url('../images/moon.svg');
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 0;
}
input[type="text"]{
    padding: 20px 10px;
    font-size: 20px;
    width: calc(100% - 20px);
    border: none;
    margin-bottom: 25px;
    background-color: var(--item-lightmode);  
}
.item{
    display: flex;
    align-items: center;
    background-color: var(--item-lightmode);
    color: var(--font-lightmode);
    padding: 0 20px;
    height: 65px;
    font-size: 22px;
    border-bottom: solid 1px #d1d5db;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    flex-shrink: 0;
}
input[type="checkbox"]:before {
    content: "";
    display:block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: var(--check-lightmode);
    border-radius: 5px;
}
input[type="checkbox"]:checked::before{
    background-color: #3a7cfd !important;

}



input[type="checkbox"]:checked::after{
    content: "";
    display: block;
    position: absolute;
    border: solid #fff;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
    width: 6px;
    height: 12px;
    top: 4px;
    left: 9px;
    background: transparent !important;    
}
.item-checked{
    text-decoration: line-through;
}
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--item-lightmode);
    color: var(--font-lightmode);
    padding: 20px 10px;
    font-size: 14px;
}
.footer div{
    margin: 0 5px;
}


.footer a{
    margin: 0 5px;
    text-decoration: none;
    color: var(--font-lightmode);

}
.footer a:hover{
    color: #8ac2fe;
    
}
.footer a.active{
    color: #116acc;
}
body.darkmode{
    background-color: var(--bg-darkmode);
}
.darkmode .darkmode-toggle{
    background-image: url('../images/sun.svg');
}
.darkmode input[type="text"],
.darkmode .item,
.darkmode .footer{
    background-color: var(--item-darkmode);
    color: var(--font-darkmode);  
}

.darkmode input[type="checkbox"]:before{
    background: var(--check-darkmode);
}
.darkmode input[type="checkbox"]:checked::after{
    background-color: #1e80ef;
    background-color: transparent;  
}
.darkmode a {
    color: var(--font-darkmode);
}

@media (max-width: 600px){
    div.container{
        margin-top: 0px;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
    .footer{
        padding: 10px 0;
        font-size: 11px;
        gap: 6px;

    }
}